* {
    font-family: Verdana, sans-serif;
}

h1 {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 5vh;
    font-weight: 1000;
}

h2 {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-weight: 1000;
}

img {
    max-height: 50vh;
    width: auto; 
    /* border-radius: 25px; */
    border-radius: 50%; /* circular image */
}

.outer-flex {
    display: flex;
    flex-direction: row;
}

.narrow-col {
    width: 30%;
    margin: 5vh;
    text-align: center;
}

.wide-col {
    width: 70%;
    margin: 5vh;
    text-align: left;
}

.center {
    text-align: center;
    padding: 10vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: #F4F4F4;
    max-width: 80%;
    padding: 3vh;
    margin: 3vh;
}

.grid-item:hover {
    background-color: #F3E5FF ;
}

#special-class {
    opacity: 0.5;
}